.s-portfolio {
 
	.section-title{
		max-width: 1115px;
		margin-left: auto;
		margin-right: auto;
	}
		&.visible{
		
		}

		.section-title{
			padding-bottom: em(25);
			&__text{
				color: $secondary;
				padding-top: em(15);
			}
		}

		&__img-wrap{
			@include block(56,38)
		}
	//
	@include media-breakpoint-up(xl) {
		.container{
			max-width: 1115px;
			margin-left: auto;
			margin-right: auto;
		}
		padding-top: 50px;
	}
	.resp-tabs-list{
		max-width: 279px;
		padding-bottom: 28px;
	}
	.resp-arrow{
		display: none;
	}
	&__tab-btn{
		display: flex;
	}
	.resp-accordion,
	&__tab-btn{
		@include mt;
		cursor: pointer;
		margin-bottom: 0;
		&:first-child{
			
			border-radius: 5px 5px 0 0;
		}
		&:last-child{
			border-radius: 0 0 5px 5px;
			
		}
		&:not(:last-child){
			border-bottom: 1px solid #dbdbdb;
		}
		// &:hover,
		&.resp-tab-active{
			border-bottom-color: #ffdb72;
			background-image: linear-gradient(to top, $primary 0%, #fdd467 79%, #ffdb72 99%, #ffdb72 100%);
		}
		@include media-breakpoint-up(lg) {
			
			padding-left: 42px;
			height: 136px;
		}
		height: 116px;
		padding-left: 20px;
		background-color: #f9f9f9;
	
		flex-direction: column;
		justify-content: center;
	}
	.h4.resp-accordion{
		font-size: 1.2rem;
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 


	&__title-head{
		color: #1a1a1a;
		font-weight: bold;
		font-size: $h6-font-size; 
		margin-bottom: rem(30);
	}
	&__slider{
	}
	.swiper-container{
		margin-left: 0;
		margin-right: 0;
	}
	&__slider-wrap{
		position: relative;
		max-width: 560px;
		margin-bottom: 50px;
	}

	&__group{
		font-size: 17px;
		letter-spacing: 0.34px;
		margin-bottom: rem(32); 

	}
	&__strong{
		font-weight: bold;
		width: 98px;
	}
	&__text{

	}
}

.resp-tab-content:not(.resp-tab-content-active){
	display: none;
}

.resp-tabs-container{
	max-width: 640px;
	@include media-breakpoint-up(lg) {
	margin-left: 52px;
	}
}

.swiper-button-hand{
	background: none ;
	@include media-breakpoint-up(xl) {
		
		width: 64px;
		height: 64px;
		line-height: 80px;
	}
	width: (64px * .8);
	height: (64px * .8);
	line-height: (80px * .8);
	border: 1px solid #dbdbdb;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	@include mt;
	color: #dbdbdb;
	.icon{
		@include media-breakpoint-up(xl) {
			
			font-size: 27px; 
			margin-left: -2px;
		}
		font-size: 24px; 
	}
	&:hover{
		background-color: #fdd467;
		background-image: linear-gradient(to top, $primary 0%, #fdd467 79%, #ffdb72 99%, #ffdb72 100%);
		border-color: #ffdb72;
		color: #ffffff;
	}
	&-next{
		.icon{
			@include transform(rotateY(180deg));
		}
		@include media-breakpoint-up(xl) {

			right: -100px;
		}
		@include media-breakpoint-up(md) {
			// left: -15px;
			right: -30px;
						}
		// right: -30px;
		right: -15px;
	}
	&-prev{
		@include media-breakpoint-up(xl) {
			
			left: -100px;
		}
					@include media-breakpoint-up(md) {
		left: -30px;
	}
	left: -15px;

	}
}