.top-line {
  padding-top: 6px;
  .row{
    justify-content: space-between; 
  }
  &__text{
    color: #3a3a3a;  
    font-size: 14px;
    max-width: 160px;
    line-height: 1.4;
    padding-bottom: 10px;
    &--mark{
      display: flex;
      @include media-breakpoint-up(xl) {
        
        margin-left: 10px;
      }
      &::before{
        content: url(../img/mark.png);
                @include media-breakpoint-up(xl) {
        margin-right: 10px;
      }
      margin-right: 5px;
      }
    }
  }
	&__btn{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    &::after{
      display: none !important;
    }
    @include media-breakpoint-up(xl) {

      width: 165px;
    }
    margin-bottom: 5px;
  }

  &__tel{
    @extend .text-body;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    &::after{
      display: none !important;
    }
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    @include media-breakpoint-up(sm) {
      
      &::before{
        display: none;
      }
      font-size: 19px;
      padding: 0 !important;
      background: none !important;
      border: none !important;
      text-shadow:  !important;
      box-shadow: none !important;
    }
    min-width: 40px;
  }
  
  &__logo{
    @include media-breakpoint-up(xl) {
      margin-right: 20px;
      max-width: none;
    }
    max-width: 200px;
  }

  &__icon-wrap{
    @include media-breakpoint-up(sm) {

      display: none;
    }
    .icon{
      font-size: 1.2em;
      top: rem(3);
      position: relative;
      // position: relative;
    }
  }
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {
  &__text{
    display: none;
  }
  &__btn-text{
    display: none;
  }

  // &__tel{
  //   // background-color: #b7b7b7;
  //   // border-color: #ffdb72;
  //   // background-image: -webkit-gradient(linear,left bottom,left top,from(#f9c457),color-stop(5%,#f6b73e),color-stop(99%,#ffdb72),to(#ffdb72));
  //   // background-image: -webkit-linear-gradient(bottom,#f9c457 0,#f6b73e 5%,#ffdb72 99%,#ffdb72 100%);
  //   // background-image: -o-linear-gradient(bottom,#f9c457 0,#f6b73e 5%,#ffdb72 99%,#ffdb72 100%);
  //   // background-image: linear-gradient(to top,#f9c457 0,#f6b73e 5%,#ffdb72 99%,#ffdb72 100%);
  //   // -webkit-box-shadow: 0 0.3125em 0 #a97734;
  //   // box-shadow: 0 0.3125em 0 #a97734;
  //   // width: 40px;
  //   // text-align: center;
  //   // padding: .5rem .5rem;
  //   // font-size: .875rem;
  //   // line-height: 1.5;
  //   // -webkit-border-radius: .2rem;
  //   // border-radius: .2rem;
  //   // -webkit-box-shadow: 0 0.125em 0 #a97734;
  //   // box-shadow: 0 0.125em 0 #a97734;
  //   // font-weight: 500;
  // }
  .row{
    @include roww(5);
    // @extend .roww(5);
  }
}
}