mixin top-line()
	// start .top-line
	+b.top-line
		.container
			.row.align-items-end
				.col-lg-auto.col
					+e.logo
						img.res-i(src="img/logo.png", alt="")
				.col-lg.col-auto
					.row.align-items-center
						.col-auto.d-none.d-lg-block
							+e.text Проектируем и&nbsp;строим дома с&nbsp;2001 года
						.col-auto.d-none.d-lg-block
							+e.text--mark г. Магнитогорск Комсомольская, 5
						.col-auto
							+e.tel(href="tel:8(3519)23-20-20") 
								+e.SPAN.text 8 (3519) 23-20-20
								+e.icon-wrap
									+icon('tel')

						.col-auto
							+e.btn.btn-js.popup-with-move-anim(href="#modal-call") 
								+e.SPAN.text Заказать звонок
								+e.icon-wrap
									+icon('email')
								
	// end .top-line