.s-why {
	
		&.visible{
		
		}
		.row{
			justify-content: center;
		}
		.section-title{
			// max-width: 800px;
		}
		&__img-wrap{
			height: 175px;
			display: flex;
			// justify-content: center;
			// flex-direction: column;
			align-items: center;
			img{
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: 0;
			}
		}

		&__item{
			@include media-breakpoint-up(sm) {

				max-width: 340px;
				margin-bottom: 70px;
			}
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
			font-size: 17px;
		}
		&__title{
		
			// font-size: $h5-font-size;
			@extend .h5;
			font-weight: 700;
			margin-bottom: rem(20);
		}
	//
	position: relative;
	z-index: 2;
	.scene{
		// .scene
		position: absolute !important;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
	}
	&__elem{
		position: absolute;
		&--1{
			top: 62% !important;
			left: -20px !important; 
		}
		
		&--2{
			right: -10px !important;
			top: 54% !important;
			left:  auto !important; 
		}

	}
	@include media-breakpoint-up(xl) {
	 
	}

	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(sm) {
		.section-title{
			padding-bottom: 20px;
		}
	} 

}