mixin s-why()
	// start s-why
	+b.s-why.section#s-why.lazy-background&attributes(attributes)
		.scene-wrap.d-none.d-xl-block
			.scene(id="scene") 
				+e.elem--1.--js(data-depth="0.1")
					img(src="img/why-left-1.png", alt="")
				+e.elem--2.--js(data-depth="0.2")
					img(src="img/why-right.png", alt="")
		.container
			+b.section-title.text-center
				h2 Почему 8&nbsp;из&nbsp;10&nbsp;клиентов 
					br
					| 
					|  обращаютя к&nbsp;нам по&nbsp;рекомендации? 
			.row
				mixin item(i,t)
					.col-md-4.col-sm-6
						+e.item
							+e.img-wrap
								img.res-i(src=`img/why-${i}.png`, alt="")
							+e.title= t
							block
					// /.col-md-4.col-sm-6
				+item('1','Помогаем вам сэкономить до 500 000 руб.')
					p У&nbsp;нас свой штат, и&nbsp;мы&nbsp;работаем  без посредников, которые наркучивают  20-30% к&nbsp;стоимости работ. Строительные  материалы для вас&nbsp;&mdash; покупаем  у&nbsp;поставщиков по&nbsp;оптовым ценам.
				+item('2','Строго соблюдаем сроки строительства')
					p За&nbsp;каждый день просрочки  по&nbsp;нашей вине&nbsp;&mdash; выплатим вам  по&nbsp;5&nbsp;000&nbsp;руб.
				+item('3','Даем расширенную гарантию — 5 лет')
					p 95% проблем возникает в&nbsp;первые 2-3 года  эксплуатации дома&nbsp;&mdash; мы&nbsp;уверены  в&nbsp;качестве наших работ, поэтому даем  гарантию 5&nbsp;лет
				+item('4','Независимый контроль качества')
					p Окончательный Акт приемки  подписывается после проверки объекта  заказчиком и&nbsp;при необходимости  независимым экспертом.
				+item('5','Стоимость не увеличится во время строительства')
					p Все расходы будут учтены на&nbsp;этапе  проектирования с&nbsp;точностью 97%.  И&nbsp;будут отражены в&nbsp;смете,  подкрепленной договором.
	// end s-why