
mixin s-accord()
	// start s-accord
	+b.SECTION.s-accord.section.bg-pattern.tracked#s-accord
		.container
			+b.section-title.text-center
				h2.text-center Ответы на популярные вопросы
			 
			.row
				mixin item(a)
					 
					.col-lg-6: +e.item.hover-block
						.showhide.btn-click
								span= a
								+e.icon-wrap
									+icon('chevron-left')
						.showhide-all
							block
				 
				+item("Из чего лучше строить дом?")
					p  Нет, договор дает возможность делать отправления и работать по спецаильному тарифу для интернет магазинов, а так же наложенным платежем.
				+item("Понравился проект,  дома но я не укладываюсь в бюджет")
					p  Минимальной суммы отправок нет. Если у вас на данный момент нет отправлений, договор не обязывает их делать в какой-либо срок или сумму денежных средств.

				+item("Мне сложно выбрать проект  самостоятельно ")
					p  Вы можете воспользоваться всеми режимами доставки: от пункта выдачи отправителя до пункта выдачи получателя, от пункта выдачи отправителя до адреса получателя, от адреса отправителя до пункта выдачи получателя, от адреса отправителя до адреса получателя

				+item("Сколько вы будете строить дом ?")
					p  Да, вы можете отправлять посылки в большинство стран мира.

				+item("Могу ли я сам закупать  строительные материалы?")
					p  Срок возврата посылок зависит от удаленности населенного пункта

				+item("Сомневаюсь, хватит ли денег  на строительство дома")
					p  По выставленному счету или взаимозачетом из наложенного платежа
				+item("Можно ли строить дом в кредит?")
					p  Сроки перевода наложенного платежа обговариваются индивидуально и зависят от суммы наложенного платежа от врученых посылок за 1 месяц.
				+item("Понравился проект,  дома но я не укладываюсь в бюджет")
					p  Конверты, пакеты формата А4 и А3
			+e.foot
				.row
					.col-xl-4
						+e.title-foot Остались вопросы?
						+e.gray Задайте их&nbsp;начальнику ПТО, он&nbsp;с&nbsp;радостью на&nbsp;них ответит

					.col-xl.col-sm-auto 
						.row.row--sm
							.col-auto
								+e.person: img.lazy(src="#" data-src='img/man-circle.png', alt='')
								
							.col 
								.strong Максим Александрович
								.small Начальник производственно-
									br
									| технического отдела
					.col
						+e.btn.btn-js.popup-with-move-anim(href="#modal-call2") Задать вопрос
							

	// end s-accord